attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
branca==0.6.0
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
cli-helpers==2.3.0
click==8.1.7
coloredlogs==15.0.1
configobj==5.0.8
cryptography==36.0.2
cssselect2==0.7.0
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.43.1
html5lib==1.1
humanfriendly==10.0
idna==3.4
imageio==2.31.6
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
lazy_loader==0.3
llvmlite==0.41.1
MarkupSafe==2.1.3
mpmath==1.3.0
mycli==1.27.0
mysql-connector-python==8.1.0
networkx==3.2.1
numba==0.58.1
numpy==1.26.1
onnxruntime==1.16.1
opencage==2.3.0
opencv-python-headless==4.8.1.78
packaging==23.2
phonenumbers==8.13.23
Pillow==10.0.1
platformdirs==3.11.0
pooch==1.8.0
prompt-toolkit==3.0.39
protobuf==4.21.12
pyaes==1.6.1
pycparser==2.21
pydyf==0.8.0
Pygments==2.16.1
PyMatting==1.1.10
PyMySQL==1.1.0
pyperclip==1.8.2
pyphen==0.14.0
pypng==0.20220715.0
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.5.2
pyqt6-tools==6.4.2.3.3
python-dotenv==1.0.0
pytube==15.0.0
qrcode==7.4.2
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
referencing==0.30.2
rembg==2.0.52
requests==2.31.0
rpds-py==0.10.6
scikit-image==0.22.0
scipy==1.11.3
six==1.16.0
soupsieve==2.5
sqlglot==18.15.1
sqlparse==0.4.4
sympy==1.12
tabulate==0.9.0
tifffile==2023.9.26
tinycss2==1.2.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.0.7
wcwidth==0.2.8
weasyprint==60.1
webencodings==0.5.1
zopfli==0.2.3
