<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Document</title>
</head>
    <body>
    <h1 style="text-align: center;"><strong>Aplicación</strong></h1>
    <table border="1" style="border-collapse: collapse; width: 100%; height: 36px;">
        <tbody>
            <tr style="height: 18px;">
            <td style="width: 33.3333%; text-align: center; height: 18px;"><strong>NOMBRE</strong></td>
            <td style="width: 33.3333%; text-align: center; height: 18px;"><strong>APELLIDO</strong></td>
            <td style="width: 33.3333%; text-align: center; height: 18px;"><strong>DIRECCION</strong></td>
        </tr>
        {%for language in languages%}
        <tr style="height: 18px;">
            <td style="width: 33.3333%; text-align: center; height: 18px;">{{language.id}}</td>
            <td style="width: 33.3333%; text-align: center; height: 18px;">{{language.language}}</td>
            <td style="width: 33.3333%; text-align: center; height: 18px;">{{language.date}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </body>
</html>